<% layout('../layouts/frontend') -%>

<div class="cl"></div>
<!-- Latest Products -->
<div class="products">
    <h2>Latest Products</h2>
    <div class="product-holder">
        <div class="product">
            <a title="Details" href="#"><img src="images/case1.jpg" alt="Black and red stylish computer case" /></a>
            <p>Case Model</p>
        </div>
        <p>Product 20</p>
        <div class="price-label">
            <strike>$117.50</strike>
            <p class="price">£96.<sup>35</sup></p>
        </div>
    </div>
    <div class="product-holder">
        <div class="product">
            <a title="Details" href="#"><img src="images/case2.jpg" alt="Beautiful white case with flower motives" /></a>
            <img class="sale-label" src="images/sale-label.png" alt="Sale!" />
            <p>Case Model</p>
        </div>
        <p>Product 20</p>
        <div class="price-label">
            <strike>$117.50</strike>
            <p class="price">£96.<sup>35</sup></p>
        </div>
    </div>
    <div class="product-holder">
        <div class="product">
            <a title="Details" href="#"><img src="images/case3.jpg" alt="Black and white gamers computer case" /></a>
            <p>Case Model</p>
        </div>
        <p>Product 20</p>
        <div class="price-label">
            <strike>$117.50</strike>
            <p class="price">£96.<sup>35</sup></p>
        </div>
    </div>
    <div class="product-holder">
        <div class="product">
            <a title="Details" href="#"><img src="images/case4.jpg" alt="Transformers computer case" /></a>
            <p>Case Model</p>
        </div>
        <p>Product 20</p>
        <div class="price-label">
            <strike>$117.50</strike>
            <p class="price">£96.<sup>35</sup></p>
        </div>
    </div>

    <div class="cl"></div>
</div>
<!-- END Latest Products -->